    @font-face {
    font-family: Gothic;
    src: url('../fonts/century-gothic.ttf');
}
body {
    font-family: Gothic, Arial;
    background-color: #a2a2a2;
    margin: 0 4em;
    display: flex;
    flex-flow: column;
}
header {
    position: fixed;
    background-color: #fe123c;
    width: 100%;
    box-shadow: 4px 5px 5px black, ;
}
nav > ul {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
li > a {
    color: white;
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    padding: 0;
}
li a:hover {
    background-color: #f9f9f9;
    color: #fe123c;
}
li > a > img {
    width: 48px;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #ebebeb;
    background-image: url('../images/bg/bg.jpg');
    background-size: 100%;
}
.album {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #ebebeb;
}
.artspace {
    align-self: center;
}
.artspace > img {
    width: 200px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.profile {
    order: -1;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    padding: 1em 1em;
    align-self: center;
    align-items: center;
    margin-top: 5em;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 0 10px black;
}
.profile > img {
    width: 200px;
}
.get-social {
    display: flex;
    flex-flow: row;
}
.get-social > a > img {
    width: 60px;
}
.profile > span {
    font-size: 2em;
    align-self: center;
    margin-top: 5px;
    border-radius: 10px;
    color: #f9f9f9;
    font-weight: bolder;
}
p {
    margin: 0;
    text-align: center;
    padding: 10px;
    color: #f9f9f9;
    font-weight: bolder;
}

/* for mobile */

@media only screen and (max-width: 768px) {
    body {
        margin: 0 1em;
    }
    album {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items : center;
        background-color: #ebebeb;
    }
  }
